@media (min-width:769px){

body{
    width: 100%;
    margin: 0;

}
header {
    background-image: url(./imgs/header.png);
    height: 768px;
    top: 0px;
    left: 0px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header {
    display: flex;
    width: 100%;
    align-items: center;
}
.name {
    font-family: eskapade-fraktur, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
    color: white;
    text-transform: uppercase;
    margin-right: auto;
    margin-top: 43px;
    margin-left: 62px;
}
.nav {
    font-family: mr-eaves-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: right;
    margin-top: 46px;
    margin-right: 62px;
    flex: 1 1 500px;
}
.nav a {
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 29px;
}
.work {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.workHeading {
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ef4511);
    text-align: left;
    letter-spacing: 0px;
    color: #EF4511;
    opacity: 1;
    margin-top: 66px;
    font-family: eskapade-fraktur, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 54px;
}
.navLink {
    margin-left: 28.8px;
}
.workNav a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: black;
}
.navLink:hover, .all:hover {
    color: #EF4511;
}
.navBoxes {
    margin-top: 82px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 101px;
}
.navBox {
    justify-content: center;
    align-items: center;
    flex: 0 0 26%;
    margin-bottom: 61px;

    
}
.getInTouch {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url(./imgs/getintouch.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 329px;
    margin-top: calc(155px - 61px);
    margin-bottom: 141px;
    
}
.touch {
    text-transform: capitalize;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 54px;
    font-family: eskapade-fraktur, serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 56px;
    margin-bottom: 42px;
}
.email {
    background: transparent;
    border: 2px #ccc solid;
    width: 525px;
    height: 70px;
    text-align: center;
    font-size: 34px;
    color: #fff;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 300;
    font-style: normal;
    
    
}
.email::placeholder{
    color: #fff;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 300;
    font-style: normal;
}
.fa-paper-plane {
    color: #fff;
    margin-left: 25px;
    font-size: 60px;
    transform: rotate(30deg);
}

.aboutMe {
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 142px;
    width: 100%;

}
.text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 46px;
    flex: 1 1 45%;
    padding-top: 0;    
    margin-bottom: 150px;
    box-sizing: border-box;
    padding-right: 40px;
    width: 100%;
    
}
.aboutImg {
    flex: 1 1 50%;
    margin-left: -20px;
}
.aboutBody {
    width: 300px;
    text-align: justify;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
}
.aboutTitle {
    margin-top: 0;
    margin-bottom: 0;
    width: 300px;
    text-align: left;
    font-family: eskapade-fraktur, serif;
    font-weight: 400;
    font-style: normal;
    color: #EF4511;
    font-size: 54px;
    
}
.pic1 {
    margin-top: -90px;

    margin-bottom: 20px;
    height: 365px;
    width: 365px;
}
.pic2 {
    padding-left: 20px;
    width: 457px;
    height: 250px;
}
footer {
    display: flex;
    height: 260px;
    width: 100%;
    background: #1E1E1E;
    color: #FFFFFF;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 300;
    font-style: normal;
    flex-wrap: wrap;
    justify-content: center;

}
footer a {
    color: white;
    text-decoration: none;
}
.contactInfo {
    height: 84px;
    width: 453px;
    margin-left: 212px;
    margin-top: 26px;    
    font-size: 30px;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 300;
    font-style: normal;
    flex: 1 1 50%;
}
.form {
    margin-top: 80px;
    margin-right: 100px;
}
form {
    display: flex;
    height: 47px;
    width: 383px;
    margin-left: auto;

    flex: 1 1 50%;
    justify-content: flex-end;
}
.sayHello {
    background: transparent;
    border: 2px solid white;
    width: calc(383px - 47px);
    height: 47px;
}
.sayHello::placeholder {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 34px;
    text-align: center;
}
.fa-caret-square-right {
    font-size: 47px;
}
form button {
color: white;
background: #1E1E1E;
border: none;
margin-left: 0;
padding-left: 0;;

}
.copyright {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 306px;
    height: 33px;
    font-size: 30px;
    
}

}

@media (max-width: 768px) and (min-width:426px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    header {
        background-image: url(./imgs/header.png);
        background-position: center;
        background-size: cover;
        height: 100px;
    }
    img {
        width: 100%;
        height: auto;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .name {
        font-family: eskapade-fraktur, serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        text-transform: uppercase;
        margin: 10px 0;
        font-size: 20px;
    }
    .nav {
        font-family: mr-eaves-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        margin: 0;
        font-size: 15px;
    
    }
    .nav a {
        color: #FFFFFF;
        opacity: 1;
        text-decoration: none;
        text-transform: uppercase;
        box-sizing: border-box;
        padding: 10px;
        margin: 0;
    }
    .navInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .workHeading {
        font-family: eskapade-fraktur, serif;
        font-weight: 400;
        font-style: normal;
        color: #EF4511;
    }
    .workNav a{
        text-decoration: none;
        text-transform: capitalize;
        font-family: mr-eaves-modern, sans-serif;
        font-weight: 400;
        color: black;
    }
    .navBoxes {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .navBox{
        margin-bottom: 10px;
        transform: scale(.8)
    }
    .getInTouch {
        display: flex;
        flex-direction: column;
        background-image: url(./imgs/getintouch.png);
        height: 75px;
        justify-content: center;
        align-items: center;
    }
    .touch {
        text-transform: uppercase;
        box-sizing: border-box;
        padding-bottom: 10px;
        font-family: eskapade-fraktur, serif;
        font-weight: 400;
        font-style: normal;
        color: #fff;
        font-size: 21px;
    }
    .email {
        box-sizing: border-box;
        margin-left: 25px;
        font-family: mr-eaves-modern, sans-serif;
        font-weight: 300;
        font-style: normal;
        border: 2px solid #fff;
        background: transparent;
        text-align: center;
    }
    .email::placeholder{
        color: #fff;
        font-family: mr-eaves-modern, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 15px;
    }
    .fa-paper-plane {
        color: #fff;
        margin-left: 5px;
        transform: rotate(30deg);
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pic1, .pic2 {
        display: none;
    }
    .aboutBody {
        text-align: justify;
        text-align-last: center;
        font-family: mr-eaves-modern, sans-serif;
        font-weight: 300;
        font-style: normal;
        margin: 20px 10px;
    }
    .aboutTitle {
        text-align: left;
        font-family: eskapade-fraktur, serif;
        font-weight: 400;
        color: #EF4511;
        font-size: 27px;
        margin-top: 10px;
    }
    .aboutImg {
        transform: scale(.75);
    }
    
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #1E1E1E;
        color: #FFFFFF;
    }
    .phone, .emailFooter {
        font-family: mr-eaves-modern, sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    footer a {
        text-decoration: none;
        color: black;
        color: #FFFFFF;
    }
    .sayHello::placeholder {
        font-family: mr-eaves-modern, sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        color: #fff;
    }
    .phone {
        text-align: center;
    }
    .sayHello {
        background: transparent;
        border: 2px #ccc solid;
        margin-right: 0;
    }
    .copyright {
        font-family: mr-eaves-modern, sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    }
    
    @media (max-width: 425px) {
        body {
            width: 100%;
            margin: 0;
            padding: 0;
        }
        header {
            background-image: url(./imgs/header.png);
            background-position: center;
            background-size: cover;
            height: 100px;
        }
        img {
            width: 100%;
            height: auto;
        }
        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .name {
            font-family: eskapade-fraktur, serif;
            font-weight: 400;
            font-style: normal;
            color: white;
            text-transform: uppercase;
            margin: 10px 0;
            font-size: 20px;
        }
        .nav {
            font-family: mr-eaves-sans, sans-serif;
            font-weight: 400;
            font-style: normal;
        
        }
        .nav a {
            color: #FFFFFF;
            opacity: 1;
            text-decoration: none;
            text-transform: uppercase;
            box-sizing: border-box;
            padding: 10px;
        }
        .work {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .workHeading {
            font-family: eskapade-fraktur, serif;
            font-weight: 400;
            font-style: normal;
            color: #EF4511;
            text-align: center;
        }
        .workNav a{
            text-decoration: none;
            text-transform: capitalize;
            font-family: mr-eaves-modern, sans-serif;
            font-weight: 400;
            color: black;
        }
        .navBoxes {
            margin-top: 30px;
        }
        .navBox{
            margin-bottom: 10px;
        }
        .getInTouch {
            display: flex;
            flex-direction: column;
            background-image: url(./imgs/getintouch.png);
            height: 75px;
            justify-content: center;
            align-items: center;
        }
        .touch {
            text-transform: uppercase;
            box-sizing: border-box;
            padding-bottom: 10px;
            font-family: eskapade-fraktur, serif;
            font-weight: 400;
            font-style: normal;
            color: #fff;
        }
        .email {
            box-sizing: border-box;
            margin-left: 25px;
            font-family: mr-eaves-modern, sans-serif;
            font-weight: 300;
            font-style: normal;
            border: 2px solid #fff;
            background: transparent;
            text-align: center;
        }
        .email::placeholder{
            color: #fff;
            font-family: mr-eaves-modern, sans-serif;
            font-weight: 300;
            font-style: normal;
        }
        .fa-paper-plane {
            color: #fff;
            margin-left: 5px;
            transform: rotate(30deg);
        }
        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .pic1 {
            display: none;
        }
        .aboutBody {
            text-align: justify;
            text-align-last: center;
            font-family: mr-eaves-modern, sans-serif;
            font-weight: 300;
            font-style: normal;
            margin: 20px 10px;
        }
        .aboutTitle {
            text-align: left;
            font-family: eskapade-fraktur, serif;
            font-weight: 400;
            color: #EF4511;
            font-size: 27px;
            margin-top: 10px;
        }
        footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #1E1E1E;
            color: #FFFFFF;
        }
        .phone, .emailFooter {
            font-family: mr-eaves-modern, sans-serif;
            font-weight: 300;
            font-style: normal;
        }
        footer a {
            text-decoration: none;
            color: black;
            color: #FFFFFF;
        }
        .phone {
            text-align: center;
        }
        .sayHello {
            background: transparent;
            border: 2px #ccc solid;
            margin-right: 0;
        }
        .sayHello::placeholder {
            font-family: mr-eaves-modern, sans-serif;
            font-weight: 300;
            font-style: normal;
            text-align: center;
            color: #fff;
        }
        .copyright {
            font-family: mr-eaves-modern, sans-serif;
            font-weight: 300;
            font-style: normal;
        }
        }